meta content=("text/html; charset=UTF-8") http-equiv="Content-Type"
meta charset="utf-8"
meta content="ie=edge" http-equiv="x-ua-compatible"
meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"
link rel="icon" href="/favicon.ico"

// Set dynamic and default meta
- title = current_page.data.title || "Impact Ministry"
- description = current_page.data.description || "Impact Ministry is dedicated to helping incarcerated men and women successfully transition to life outside, with a focus on a strong Christian spiritual foundation, lifestyle changes, and education."
//Change this to your domain
- url = "https://www.impactministrysocal.org"
- image = current_page.data.image || "/images/uploads/homepage-hero-impact.jpg"

title =title

meta name="description" content=description

meta property="og:title" content=title
meta property="og:description" content=description
meta property="og:image" content=(url + image_path(image))
meta property="og:url" content=(url + current_page.url)
meta property="og:type" content="website"

meta name="twitter:card" content="summary_large_image"
meta name="twitter:title" content=title
meta name="twitter:description" content=description
meta name="twitter:image" content=(url + image_path(image))
